@{
    ViewData["Title"] = "About";
}
<h1>About</h1>

<h3>Sobre o autor:</h3>
<p>Nascido em 1998, em Taubaté, sou formado no curso de Análise e Desenvolvimento de Sistema, pela Faculdade de Tecnologia (FATEC).</p>
<p>Atualmente trabalho com a plataforma .NET, e a linguagem C#. Este projeto tem o objetivo de colocar em prática alguns conceitos aprendidos <br />
    em meus estudos. Desta forma aprimorando minha escrita de código e design e modelagem de aplicações web ASP.NET, utilizando o padrão de <br />
    arquitetura MVC.</p>

<h3>Tecnologias e pacotes utilizados:</h3>
<ul>
    <li>Linguagem de programação - C#</li>
    <li>Framework back-end - .NET 5.0 </li>
    <li>Pacote - EntityFrameworkCore.SqlServer - 5.0.17</li>
    <li>Pacote - EntityFrameworkCore.Tools - 5.0.17</li>
    <li>Pacote - VisualStudio.Web.CodeGeneration.Design - 5.0.2</li>
</ul>