@{
    ViewData["Title"] = "Home";
}

<div class="index">
    <h3>Bem vindo!</h3>
    <p>Neste projeto você pode visualizar uma listagem de filmes. E caso deseje poderá inserir, editar e excluir as informações referente
    a cada obra cinamatográfica.</p>
    <p>Sendo assim fique a vontade para visualizar pela aplicação!!!</p>
</div>
